In [5]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("data.sqlite")
df = pd.read_sql_query("SELECT * from jobs", con)

# verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

DatabaseError: Execution failed on sql 'SELECT * from jobs': no such table: jobs